<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>MgmtSvcCloud</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://flaviohome.gear.host</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>flaviohome.scm.gear.host:443</MSDeployServiceURL>
    <DeployIisAppPath>flaviohome</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$flaviohome</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Asp_Net_MVC_CS" Order="1" Enabled="True">
          <Destination Path="Data Source=mssql6.gear.host;Persist Security Info=True;User ID=aspnetmvc;Password=Aa5Vb!?iAvnp" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Projeto01.Contexts.EFContext, Projeto01" MigrationConfiguration="Projeto01.Migrations.Configuration, Projeto01" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Asp_Net_MVC_CS-Web.config Connection String">
      <ParameterValue>Data Source=mssql6.gear.host;Persist Security Info=True;User ID=aspnetmvc;Password=Aa5Vb!?iAvnp</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Asp_Net_MVC_CS-Web.config Connection String">
      <ParameterValue>Data Source=mssql6.gear.host;Persist Security Info=True;User ID=aspnetmvc;Password=Aa5Vb!?iAvnp</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>